#MainLoader, #cacheDialog {
    font-size: 0.6em;
    border-radius: 5px;
    bottom: 10px !important;
    right: 10px;
    position: absolute;
    width: 320px;
    height: auto;
    top: unset;
    left: unset !important;
    background: #45555c;
    color: white;
    opacity: 1;
    max-height: 85%;
}
#cacheDialogButtonWrapper {
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 10%;
}
#cacheDialogButton {
    font-size: 2em!important;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background-color: #3d94f6;
    border-radius: 5px;
    border: 1px solid #337fed;
    color: #ffffff;
    text-shadow: 0px 1px 0px #1570cd;
}
#MainLoader > .loader {
    display: none !important;
}
.loaderInfo {
    position: unset;
    bottom: unset;
    padding-top: .5em;
    padding-bottom: .5em;
}