<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />
<h1 class="voice"><roundcube:label name="caldavzap.caldavzap" /></h1>
<div id="content" class="content selected" role="main">
	<div class="header">
		<a class="button icon menu-button" href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
		<span class="header-title caldavzaptitle"><roundcube:label name="caldavzap.caldavzap" /></span>
		<div id="caldavzaptoolbar" class="toolbar" role="toolbar">
			<roundcube:button id="calendar" command="calendar" type="link" class="button calendar" label="caldavzap.caldavzap" title="caldavzap.caldavzap" onclick="document.getElementById('caldavzapcontentframe').contentWindow.checkForApplication('CalDavZAP');" />
			<roundcube:button id="todo" command="todo" type="link" class="button todo" label="caldavzap.todo" title="caldavzap.todo" onclick="document.getElementById('caldavzapcontentframe').contentWindow.checkForApplication('CalDavTODO');" />
			<roundcube:button id="refresh" command="refresh" type="link" class="button refresh" label="caldavzap.reload" title="caldavzap.reload" onclick="document.getElementById('caldavzapcontentframe').contentWindow.reloadResources();" />
		</div>
	</div>
	<div class="iframe-wrapper">	
		<div id="pluginbody">
			<div class="iframebox caldavzap_<roundcube:var name='env:action' />">
				<roundcube:object name="caldavzapcontent" id="caldavzapcontentframe" style="width:100%; height:100%" frameborder="0" src="/watermark.html" />
			</div>
		</div>
	</div>
		<script type="text/javascript">
		window.onload = function() {
			var frameElement = document.getElementById("caldavzapcontentframe");
			var doc = frameElement.contentDocument;
			doc.head.innerHTML = doc.head.innerHTML + '<link rel="stylesheet" href="../skins/elastic/caldavzap.min.css" type="text/css">'
		}
		</script>
</div>
<roundcube:include file="includes/footer.html" />