<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<roundcube:if condition="env:extwin" /><body class="extwin"><roundcube:else /><body><roundcube:endif />

<roundcube:include file="/includes/header.html" />

<div id="mainscreen">
<div id="pluginbody">
	<div class="iframebox caldavzap_<roundcube:var name='env:action' />">
		<roundcube:object name="caldavzapcontent" id="caldavzapcontentframe" onload="onLoadHandler();" style="width:100%; height:100%" frameborder="0" src="/watermark.html" />
	</div>
</div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>