#LoginPage {
	background: transparent !important;
	display: none !important;
}
.window {
	display: none !important;
}

#intLogout {
	display: none !important;
}

.integration_d {
	background: transparent !important;
}