#LoginPage {
	background: transparent !important;
	display: none !important;
}
.window {
	display: none !important;
}
#main, #mainTODO {
	padding: 0 !important;
}
.iframebox.caldavzap_ {
	height: 100%;
}
#intLogout {
	display: none !important;
}
#calendar::before {
	content: "\f073";
}
#todo::before {
	content: "\f0ae";
}
.integration_d {
	display: none !important;
}
#resourceCalDAV_h, #resourceCalDAVTODO_h, #ResourceCalDAVList, #ResourceCalDAVTODOList, #timezoneWrapper, #timezoneWrapperTODO {
	left: 0 !important;
	width: 274px !important;
}